<h5>ジャンル検索</h5>
<p>ケーキ</p>
<p>焼き菓子</p>
<p>プリン</p>
<p>キャンディ</p>

<p>
  ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要になります。
</p>

<h3>新着商品</h3>
<% @items.each do |item| %>
    <%= item.name %>
    <%= item.price %>
<% end %>